*{
    box-sizing: border-box;
}

body {
    background-image: url(Porte.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#Container {
width: 90%;
height: 100vh;
background-color: cornsilk;
}

#Header {

}

#Navbar {

}